/* === removing default button style ===*/
.button {
  margin: 0;
  height: auto;
  background: transparent;
  padding: 0;
  border: none;
}

/* button styling */
.button {
  --border-right: 6px;
  --text-stroke-color: rgba(255,255,255,0.6);
  --animation-color: #37FF8B;
  --fs-size: 2em;
  letter-spacing: 3px;
  text-decoration: none;
  font-size: var(--fs-size);
  font-family: "Arial";
  position: relative;
  text-transform: uppercase;
  color: transparent;
  -webkit-text-stroke: 1px var(--text-stroke-color);
}
/* this is the text, when you hover on button */
.hover-text {
  position: absolute;
  box-sizing: border-box;
  content: attr(data-text);
  color: var(--animation-color);
  width: 0%;
  inset: 0;
  border-right: var(--border-right) solid var(--animation-color);
  overflow: hidden;
  transition: 0.5s;
  -webkit-text-stroke: 1px var(--animation-color);
}
/* hover */
.button:hover .hover-text {
  width: 100%;
  filter: drop-shadow(0 0 23px var(--animation-color))
}
button {
  /* Variables */
 --button_radius: 0.75em;
 --button_color: #e8e8e8;
 --button_outline_color: #000000;
 font-size: 17px;
 font-weight: bold;
 border: none;
 border-radius: var(--button_radius);
 background: var(--button_outline_color);
}

.button_top {
 display: block;
 box-sizing: border-box;
 border: 2px solid var(--button_outline_color);
 border-radius: var(--button_radius);
 padding: 0.75em 1.5em;
 background: var(--button_color);
 color: var(--button_outline_color);
 transform: translateY(-0.2em);
 transition: transform 0.1s ease;
}

button:hover .button_top {
  /* Pull the button upwards when hovered */
 transform: translateY(-0.35em);
}

button:active .button_top {
  /* Push the button downwards when pressed */
 transform: translateY(0);
}
#G{
}
      header {
        background-color:cadetblue;
        color: ;
        display: flex;
        justify-content: center;
        padding-bottom: px;
       height: 18vh;
      }

      header a {
        color: white;
        margin-right: 20px;
        text-decoration: none;
      }
td {
justify-contents:center;
  padding-top:5px;
  padding-bottom:200px;
  padding-left: 250px;
  padding-right: 250px;
}
h1{
 margin-bottom:1px;
    margin-top:0px;
    padding-left:px;
}

.container{
    text-align: center;
    background: rgb(162, 190, 190);
}
img{
	border-radius:50%;
}
#GG{
  margin-left: 70px; 
}
#SS{
  margin-right: 50px; 
}
.sub-container{
    max-width: 1200px;
    margin: auto;
    padding: 48px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
body{
background-repeat:no-repeat;
background-size:1500px 3000px;
}
.container{
    text-align: center;
    background: rgb(162, 190, 190);
}
.sub-container{
    max-width: 1200px;
    margin: auto;
    padding: 48px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
   height:250px;
}

.teams{
    margin: 10px;
    padding: 22px;
    max-width: 30%;
    cursor: pointer;
    transition: 0.4s;
    box-sizing: border-box;
}

.teams:hover{
    background: #ddd;

}

.teams img{
    width: 200px;
    height: 200px;
}
header{
background-color:teal;
}


.name{
    padding: 17px;
    font-weight:bold;
    font-size: 16px;
    text-transform: uppercase;
}

.design{
    font-style: italic;
    color: #888;
}

.about{
    margin: 20px 0;
    font-weight: lighter;
    color: #4e4e4e;

}
.social-links{
    margin: 14px;
}

.social-links a{
    display: inline-block;
    height: 30px;
    width: 30px;
    transition: .4s;

}

.social-links a:hover{
    transform: scale(1.5);
}

.social-links a i{
    color: #444;
}
footer {
      background-color:teal;
      color: paleturquoise;
      padding: 10px;
      text-align: center;
      position: absolute;
      margin-top: 2800px;
      width: 100%
    }